<!DOCTYPE html>
<html lang="en">

<th:block th:include="~{/fragments/head}"></th:block>


<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <th:block th:include="~{/fragments/navbar}"></th:block>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-12">
            <br>
            <br>
            <br>
            <p> The Singapore Art Museum (SAM) focuses on international contemporary art practices, specialising in
                Singapore
                and Southeast Asia. </p>

            <h5>
                <p> Our Vision </p>
            </h5>
            <p> SAM will be pivotal among contemporary art museums in the region, inspiring humane and better futures
                through
                meaningful encounters with art. </p>

            <h5>
                <p> Our Mission </p>
            </h5>
            <p> SAM champions contemporary art in Southeast Asia, in active dialogue and collaboration with artists,
                partners,
                and audiences; through our collection, educational outreach, research and thought-provoking
                exhibitions. </p>


            <p> Housed in a restored 19th-century mission school, Singapore Art Museum opened its doors in 1996 as the
                first art
                museum in Singapore. Also known as SAM, the museum is now a contemporary art museum. </p>

<!--            <p> SAM has built one of the world's most important public collections of Southeast Asian contemporary-->
<!--                artworks,-->
<!--                with a growing component in international contemporary art. SAM draws from its collection and-->
<!--                collaborates with-->
<!--                international contemporary art museums to co-curate and present contemporary art exhibitions.-->
<!--                Contemporary art-->
<!--                of the region is also given international exposure through SAM's travelling exhibition programme and-->
<!--                collection-->
<!--                loans. </p>-->

            <p> Visitors can extend their SAM experience through complementary and exhibition-related education and
                public
                programmes such as: </p>


            <p> - exhibition-related public programmes and workshops </p>
            <p> - educational programmes and workshops which cover a diversity of art trends and contemporary art
                practices for
                all ages </p>
            <p> - outreach programmes where SAM programmes are extended outside of the museum to schools, community
                centres, and
                partner locations </p>
            <p> - SAM exhibition downloadable activity sheets for pre-schoolers, primary, secondary and tertiary level
                students </p>
            <p> - SAM is the organiser of the Singapore Biennale in 2011, 2013, 2016 and 2019. </p>


            <p> On 13 November 2013, SAM became incorporated as an independent company limited by guarantee. </p>

        </div>
    </div>
</div>


<th:block th:include="~{/fragments/footer}"></th:block>
</body>
</html>
