<!DOCTYPE html>
<html lang="en">

<th:block th:include="~{/fragments/head}"></th:block>


<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <th:block th:include="~{/fragments/navbar}"></th:block>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-12">
            <br>
            <br>
            <br>
            <p> +44 (0) 207 935 3595 </p>
            <p> enquiries@thompsonsgallery.co.uk </p>

            <p> Monday:	10:00 - 17:00 </p>
            <p>  Tuesday:	10:00 - 17.00 </p>
            <p>  Wednesday:	10:00 - 17:00 </p>
            <p>  Thursday:	10:00 - 17:00 </p>
            <p>  Friday 7th August	Closed </p>
            <p>  Saturday & Sundays, August </p>
            <p>   Closed </p>

            <p>   On Friday 7th August and weekends during the month of August we will be closed. For the rest of the week we are open Monday to Friday 10-5pm. </p>
            <p>  Please leave a message with Name and number and we will get back to you as soon as possible. </p>

        </div>
    </div>
</div>


<th:block th:include="~{/fragments/footer}"></th:block>
</body>
</html>
