<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{/fragments/head}"></th:block>


<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <th:block th:include="~{/fragments/navbar}"></th:block>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">

                        <form th:action="@{/product-add}" method="POST">

                            <div class="form-group">
                                <label for="productName">Product Name</label>
                                <input type="text" class="form-control" name="name" id="productName"
                                    aria-describedby="helpId" placeholder="Product Name">
                                <small id="helpId" class="form-text text-muted">Help text</small>
                            </div>

                            <div class="form-group">
                                <label for="genre">Genre</label>
                                <input type="text" class="form-control" name="genre" id="genre"
                                    aria-describedby="helpId" placeholder="Genre">
                                <small id="helpId" class="form-text text-muted">Help text</small>
                            </div>

                            <div class="form-group">
                                <label for="released">Released</label>
                                <input type="text" class="form-control" name="released" id="released"
                                    aria-describedby="helpId" placeholder="Released">
                                <small id="helpId" class="form-text text-muted">Help text</small>
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" name="description" id="description"
                                    aria-describedby="helpId" placeholder="Description">
                                <small id="helpId" class="form-text text-muted">Help text</small>
                            </div>

                            <button type="submit" class="btn btn-primary">Product Add</button>
                        </form>



                    </div>
                </div>

            </div>
        </div>
    </div>


    <th:block th:include="~{/fragments/footer}"></th:block>
</body>

</html>